<template>
  <q-page>
    <q-list bordered class="col-12">
      <q-expansion-item
        left
        group="somegroup"
        icon="child_care"
        label="Soft"
        header-class="text-primary"
      >
        <q-card-section class="row q-pa-md q-gutter-md text-center items-center">
          <item v-for="item in this.itemsCat1" :key="item.id" :item="item" />
        </q-card-section>
      </q-expansion-item>
      <q-separator />
      <q-expansion-item
        left
        group="somegroup"
        icon="fas fa-beer"
        label="Binouzes"
        header-class="text-primary"
      >
        <q-card-section class="row q-pa-md q-gutter-md text-center items-center">
          <item class="col-" v-for="item in this.itemsCat2" :key="item.id" :item="item" />
        </q-card-section>
      </q-expansion-item>
      <q-separator />
      <q-expansion-item
        left
        group="somegroup"
        icon="fas fa-cocktail"
        label="Boissons alcoolisées"
        header-class="text-primary"
      >
        <q-card-section class="row q-pa-md q-gutter-md text-center items-center">
          <item class="col-1" v-for="item in this.itemsCat3" :key="item.id" :item="item" />
        </q-card-section>
      </q-expansion-item>
      <q-separator />
      <q-expansion-item
        left
        group="somegroup"
        icon="fas fa-pizza-slice"
        label="Miam-miam"
        header-class="text-primary"
      >
        <q-card-section class="row q-pa-md q-gutter-md text-center items-center">
          <item class="col-1" v-for="item in this.itemsCat4" :key="item.id" :item="item" />
        </q-card-section>
      </q-expansion-item>
      <q-separator />
      <q-expansion-item
        left
        group="somegroup"
        icon="fas fa-mug-hot"
        label="Boissons Chaudes"
        header-class="text-primary"
      >
        <q-card-section class="row q-pa-md q-gutter-md text-center items-center">
          <item class="col-1" v-for="item in this.itemsCat5" :key="item.id" :item="item" />
        </q-card-section>
      </q-expansion-item>
    </q-list>
  </q-page>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import Item from '../components/item'

const { mapGetters: itemsMapGetters, mapActions: itemsMapActions } = createNamespacedHelpers('items')
const { mapGetters: techMapGetters, mapActions: techMapAction } = createNamespacedHelpers('tech')

export default {
  name: 'PageIndex',
  components: { Item },
  data () {
    return {
      categories: ['Soft', 'Binouzes', 'Boissons alcoolisées', 'Miam-miam', 'Boissons Chaudes']
    }
  },
  computed: {
    ...techMapGetters({
      online: 'online',
      username: 'getUsername',
      token: 'getToken'
    }),
    ...itemsMapGetters({
      itemsCat1: 'getItemsCat1',
      itemsCat2: 'getItemsCat2',
      itemsCat3: 'getItemsCat3',
      itemsCat4: 'getItemsCat4',
      itemsCat5: 'getItemsCat5'
    })
  },
  async mounted () {
    if (this.online) {
      await this.listItems()
    }
    await this.setUsername()
    await this.setToken()
    if (this.username) {
      this.$q.notify({
        message: 'Bienvenue ' + this.username
      })
    }
  },
  methods: {
    ...itemsMapActions({
      listItems: 'listItemsAction'
    }),
    ...techMapAction({
      setUsername: 'setUsernameAction',
      setToken: 'setTokenAction'
    })
  }
}
</script>
