<template>
  <q-card :class="['col-shrink', {'addItem' : !!getItemPanier } ]" style="width: 180px; height: 240px">
    <q-img :src="item.img ? item.img : 'https://cdn.nexk.fr/images/bar/404.png'"
           contain
           style="height: 100px; width: 100px"
           class="q-ma-md"
    />
    <q-card-section>
      <q-btn
        round
        color="red"
        icon="remove"
        class="absolute"
        style="top: 0; right: 75px; transform: translateY(-50%);"
        @click="removeItemPanier"
      />
      <q-btn
        fab
        color="green"
        icon="add"
        class="absolute"
        style="top: 0; right: 12px; transform: translateY(-50%);"
        @click="addItemPanier"
      >
        <q-badge v-if="!!getItemPanier" color="orange" floating>{{ getItemPanier.quantite }}</q-badge>
      </q-btn>

      <div class="row no-wrap items-center">
        <div class="text-grey text-caption absolute-left q-ml-lg">
          {{ item.prix }}€
        </div>
      </div>
    </q-card-section>
    <q-separator />
    <q-card-section class="q-pt-none">
      <div class="text-subtitle" >
        {{ item.label}}
      </div>
      <div class="text-caption text-grey">
        {{ item.description }}
      </div>
    </q-card-section>

  </q-card>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

const { mapGetters: panierMapGetters, mapActions: panierMapActions } = createNamespacedHelpers('panier')

export default {
  name: 'item',
  props: {
    item: {
      type: Object
    }
  },
  computed: {
    ...panierMapGetters({
      panier: 'getPanier'
    }),
    getItemPanier: function () {
      if (this.panier.length > 0) {
        return this.panier.find((el) => el.idItem === this.item.id)
      }
      return null
    }
  },
  methods: {
    ...panierMapActions({
      insertItemPanierAction: 'insertItemPanierAction',
      updateItemPanierAction: 'updateItemPanierAction',
      removeItemPanierAction: 'removeItemPanierAction'
    }),
    async addItemPanier () {
      const itemPanier = this.getItemPanier
      const bExist = !!itemPanier
      if (bExist) {
        await this.updateItemPanierAction({ itemPanier: itemPanier })
      } else {
        await this.insertItemPanierAction({ item: this.item })
      }
    },
    async removeItemPanier () {
      const itemPanier = this.getItemPanier
      const bExist = !!itemPanier
      if (bExist) {
        await this.removeItemPanierAction({ itemPanier: itemPanier })
      }
    }
  }
}
</script>

<style scoped>
.addItem {
  background: radial-gradient(circle, #35a2ff 20%, #014a88 100%)
}
</style>
