<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

const { mapActions: techMapActions } = createNamespacedHelpers('tech')
export default {
  name: 'App',
  created () {
    window.addEventListener('offline', () => {
      this.setConnectedAction({ online: false })
    })
    window.addEventListener('online', () => {
      this.setConnectedAction({ online: true })
    })
  },
  methods: {
    ...techMapActions({
      setConnectedAction: 'setConnectedAction'
    })
  }
}
</script>
