<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <q-icon name="img:statics/bar.svg" size="xl" />
          Bar.js
          <q-badge color="red xs-hide">v{{ app.version }}</q-badge>
        </q-toolbar-title>
        <q-btn
          round
          size="xs"
          color="red"
          icon="remove"
          style="right: 120px"
          @click="nCard === 1 ? nCard = 1 : --nCard"
        />
        <q-icon size="1.5rem" name="far fa-credit-card" style="right: 110px" />
        <q-btn
          round
          size="xs"
          color="green"
          icon="add"
          style="right: 100px"
          @click="nCard < 9 ? ++nCard : nCard = 9"
        />
        <q-btn
          fab
          color="blue"
          icon="fas fa-receipt"
          class="absolute"
          style="top: 20px; right: 50px; z-index: 1"
          @click="showTicket"
        >
          <q-badge color="orange" floating>{{ nCard }}</q-badge>
        </q-btn>

      </q-toolbar>
    </q-header>

    <q-footer reveal elevated>
      <q-toolbar>
        <q-icon name="fas fa-circle" :color="this.online ? 'green' : 'red'" />
      </q-toolbar>
    </q-footer>

    <!-- PANIER -->
    <q-dialog v-model="bTicket">
      <q-card style="min-width: 300px">
        <q-card-section>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab name="global" label="Ticket global" />
            <q-tab v-for="n in nCard" :name="'card' + n" :key="n" :label="'Carte ' + n" />
          </q-tabs>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="global">
              <q-list bordered separator>
                <q-item v-ripple v-for="item in this.panier" :key="'item' + item.id">
                  <q-item-section avatar>
                    {{ item.quantite }}
                  </q-item-section>
                  <q-item-section>{{ item.label }}</q-item-section>
                  <q-item-section side>{{ Math.round((item.prix * item.quantite) * 100) / 100 }}€</q-item-section>
                </q-item>
                <q-item v-ripple>
                  <q-item-section class="text-weight-bold">Total</q-item-section>
                  <q-item-section side>{{ getTotal() }}€</q-item-section>
                </q-item>
              </q-list>
            </q-tab-panel>

            <q-tab-panel v-for="n in this.nCard" :name="'card' + n" :key="n">
              <q-list bordered separator>
                <q-item v-ripple v-for="item in panierCard[n-1]" :key="'cardItem' + item.id">
                  <q-item-section avatar>
                    {{ item.quantite }}
                  </q-item-section>
                  <q-item-section>{{ item.label }}</q-item-section>
                  <q-item-section side>{{ Math.round((item.prix * item.quantite) * 100) / 100 }}€</q-item-section>
                </q-item>
                <q-item v-ripple>
                  <q-item-section class="text-weight-bold">Total</q-item-section>
                  <q-item-section side v-if="panierCard.length === nCard">{{ getTotalCard(n) }}€</q-item-section>
                </q-item>
              </q-list>
            </q-tab-panel>

          </q-tab-panels>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn v-close-popup flat color="primary" label="Enregistrer" />
          <q-btn v-close-popup flat color="primary" label="Vider" @click="viderPanier" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import DispachTicket from '../utils/DispachTicket'
import { version } from '../../package'
import { createNamespacedHelpers } from 'vuex'

const { mapGetters: panierMapGetters, mapActions: panierMapActions } = createNamespacedHelpers('panier')
const { mapActions: itemsMapActions } = createNamespacedHelpers('items')
const { mapGetters: techMapGetters } = createNamespacedHelpers('tech')

export default {
  name: 'MainLayout',
  data () {
    return {
      app: { version },
      bTicket: false,
      tab: 'global',
      nCard: 2,
      panierCard: []
    }
  },
  computed: {
    ...techMapGetters({
      online: 'online'
    }),
    ...panierMapGetters({
      panier: 'getPanier'
    })
  },
  async mounted () {
    if (!this.online) await this.restorItemsAction()
    await this.restorPanierAction()
  },
  methods: {
    ...itemsMapActions({
      restorItemsAction: 'restorItemsAction'
    }),
    ...panierMapActions({
      insertItemPanierAction: 'insertItemPanierAction',
      updateItemPanierAction: 'updateItemPanierAction',
      removeItemPanierAction: 'removeItemPanierAction',
      dropPanierAction: 'dropPanierAction',
      restorPanierAction: 'restorPanierAction'
    }),
    getTotal () {
      let total = 0
      if (this.panier.length > 0) {
        this.panier.forEach((item) => {
          total = total + Math.round((item.prix * item.quantite) * 100)
        })
      }
      return total / 100
    },
    getTotalCard (idCard) {
      let total = 0
      if (this.panierCard.length > 0) {
        this.panierCard[idCard - 1].forEach((item) => {
          total = total + Math.round((item.prix * item.quantite) * 100)
        })
      }
      return total / 100
    },
    showTicket () {
      if (Object.keys(this.panier).length > 0) {
        const dispachTicket = new DispachTicket()
        dispachTicket.nCard = this.nCard
        dispachTicket.panier = this.panier
        this.panierCard = dispachTicket.run()
        this.bTicket = true
      }
    },
    viderPanier () {
      this.dropPanierAction()
    }
  }
}
</script>
